# win 二进制文件资源目录
/source/resource/bin/

# 开发环境
.vscode
.venv
/venv/
*.pyc
*/__pycache__/
*.env
.*
*/__MACOSX/

# 测试和脚本
/source/build/
/source/dist/
/source/main.spec
/source/work-dir/
/source/AppData/
/work-dir/
/backups/

# 媒体文件
*.srt
*.ass
*.mp4
*.exe
*.md

# 应用数据
/source/AppData/
/source/work-dir/
