# win 二进制文件资源目录
/resource/bin/
!/resource/bin/bin_environment.txt

# 开发环境
.vscode
.venv
*.pyc
*/__pycache__/
*.env
.*

# 测试和脚本
/test/
/release/
/my_content/
/build/
/dist/
/main.spec

# 媒体文件
*.srt
*.mp4
*.exe
*.md

# 应用数据
/AppData/
/work-dir/
